/*цвет фона*/
$yellowBg: #F8FF95;
$pinkBg: #E26EE5;
$purpleBg: #7E30E1;
$darkPurpleBg: #49108B;
/*размер шрифта*/
$headerFs: 28px;
$textFs: 18px;
$buttonFs: 14px;
$tableFs: 16px;
/*цвет шрифта*/
$yellowFc: #F8FF95;
$purpleFc: #7E30E1;
$darkPurpleFc: #49108B;
/*border-radius-10*/
$bR: 10px;
/*рамки*/
$buttonBorder: solid 1px $darkPurpleBg $bR;
$cardBorder: solid 1px $purpleBg $bR;
$textBorder: solid 1px $yellowBg $bR;
/*шрифты*/
/*заголовки*/ 
$header-text: "Russo One", sans-serif;
$table-text:  "Montserrat", sans-serif;
$button-text: "Russo One", sans-serif;


